@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Fonts
$font-primary: "Montserrat", sans-serif;

$font-size-small: 1.2rem;
$font-size-default: 1.5rem;
$font-size-medium: 1.6rem;
$font-size-large: 2rem;
$font-size-xlarge: 2.4rem;

// Colors
$color-ligthblue: #18a0fb;
$color-red: #db5752;
$color-yellow: #fafa88;
$color-black: #000000;
$color-white: #ffffff;

$color-lightblue-light: rgba($color-ligthblue, 0.6);
$color-red-light: rgba($color-red, 0.6);
$color-yellow-light: rgba($color-yellow, 0.6);

// Spacing
$spacing-xs: 0.8rem;
$spacing-sm: 1.2rem;
$spacing-md: 1.6rem;
$spacing-lg: 2rem;
$spacing-xl: 2.4rem;
$spacing-xxl: 2.8rem;

// Borders
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;

// Buttons

// Breakpoints
$breakpoint-xs: 375px;
$breakpoint-sm: 414px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
