.novelties-page{
    display: flex;
}
.novelties-page__no-items{
    display: flex;
    justify-content: center;
    text-align: center;
}
.novelties-page__items{

    justify-content: center;
    text-align: center;
}