.novelties-page{
    display: flex;
}
.novelties-page__no-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 3rem;
    padding: 1rem;
}
.novelties-page__items{

    justify-content: center;
    text-align: center;
}