.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    border: 0.1em solid rgb(226, 225, 225);
    margin-top: 10%;
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container{
    margin-bottom: 0.8em;
}

.err{
    color: red;
}

.success{
    color: green;
    margin-top: 0.8em;
    text-align: center;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}