#profile-table_container{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

#profile-table{
    max-width: 40%;
    text-align: center;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly;
}