.AboutUs {
  padding: 0 2rem;

  h3 {
    margin-top: 1.6rem;
  }

  p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  .AboutUs {
    padding: 1.2rem 2.4rem;
  }
  .AboutUs_box {
    display: flex;
    flex-direction: column;
  }

  .articles--down {
    display: flex;
  }
}
