@import "../../../assets/scss/vars";

.novelties {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: $spacing-sm;

  h1 {
    margin: 0;
  }
}

.novelties__list {
  width: 95%;
  display: flex;
  flex-direction: column;

  gap: $spacing-sm;
  padding: $spacing-sm 0;

  @media (min-width: $breakpoint-lg) {
    gap: $spacing-lg;
    padding: $spacing-lg 0;
  }

  .novelty__item {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    box-shadow: 0 2px $color-grey-light;

    gap: $spacing-sm;
    font-size: $font-size-small;

    @media (min-width: $breakpoint-lg) {
      gap: $spacing-lg;
      font-size: $font-size-medium;
    }

    .__description {
      width: 100%;
      align-self: flex-start;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      font-size: $font-size-medium;

      @media (min-width: $breakpoint-lg) {
        font-size: $font-size-large;
      }
      .__content * {
        margin: 0;
        color: $color-black-light;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: $font-size-small;

        @media (min-width: $breakpoint-lg) {
          font-size: $font-size-default;
        }
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  align-items: center;
  justify-items: center;
  padding-top: $spacing-sm;
  
  gap: $spacing-sm;
  font-size: $font-size-small;
  
  @media (min-width: $breakpoint-lg) {
    padding-top: $spacing-lg;
    gap: $spacing-lg;
    font-size: $font-size-medium;
  }
}
