@import "../../assets/scss/vars";

.novelties-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
  &__items {
    display: grid;
    padding: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    .box {
      box-shadow: $shadow;
      background-color: $color-white;
      border-radius: .5rem;
      .image {
        height: 25rem;
        width: 100%;
        padding: 1.5rem;
        position: relative;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 0.5rem;
        }
      }
      .content {
        padding: 1.5rem;
        padding-top: 0;
        h2 {
          font-weight: 600;
          color: $color-black;
          font-size: 2.5rem;
          text-align: center;
        }
        p {
          font-size: 1.5rem;
          color: $color-black;
          padding: 0.5rem 0;
          line-height: 1.7;
        }
      }
    }
  }
}
