@import "../../../assets/scss/vars";

.categories__list {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;

  gap: $spacing-sm;

  @media (min-width: $breakpoint-lg) {
    gap: $spacing-lg;
  }

  section {
    display: inline-grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    box-shadow: 0 2px $color-grey-light;

    gap: $spacing-sm;
    font-size: $font-size-small;

    @media (min-width: $breakpoint-lg) {
      gap: $spacing-lg;
      font-size: $font-size-medium;
    }

    span {
      font-weight: bold;

      max-width: 95%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    button {
      min-width: 80%;
      border-radius: $border-radius-md;

      font-size: $font-size-small;
      padding: 0.3rem 1rem;

      @media (min-width: $breakpoint-lg) {
        font-size: $font-size-default;
        padding: inherit 0;
      }
    }

    .btn__edit {
      background-color: $color-yellow-light;
    }

    .btn__delete {
      background-color: $color-red-light;
    }
  }

  .warning {
    background-color: $color-red-light;
    padding: $spacing-lg;
  }
}

.loading {
  background-color: $color-lightblue-light;
  padding: $spacing-lg;
}

.add__category {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2rem 0 1rem;
  button {
    min-width: 4rem;
    min-height: 2.625rem;
    padding: 0.3rem 1.5rem;
    background-color: $color-ligthblue;
    border-radius: $border-radius-md;
    font-weight: bold;

    font-size: $font-size-small;

    @media (min-width: $breakpoint-lg) {
      font-size: $font-size-medium;
    }
  }
}
