@import "../../../assets/scss/vars";

.categories__list {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  @media (min-width: $breakpoint-lg) {
    gap: $spacing-lg;
  }
  section {
    display: inline-grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: $spacing-sm;
    font-size: $font-size-small;
    font-weight: bold;
    align-items: center;
    justify-items: center;
    @media (min-width: $breakpoint-lg) {
      font-size: $font-size-medium;
      gap: $spacing-lg;
    }
    button {
      font-size: $font-size-small;
      padding: 0.3rem 1rem;
      min-width: 80%;
      @media (min-width: $breakpoint-lg) {
        padding: inherit 0;
        font-size: $font-size-default;
      }
    }
    .btn__edit {
      background-color: $color-yellow-light;
    }
    .btn__delete {
      background-color: $color-red-light;
    }
  }
  .warning {
    background-color: $color-red-light;
    padding: $spacing-lg;
  }
}

.loading {
  background-color: $color-lightblue-light;
  padding: $spacing-lg;
}
