@import "../../../assets/scss/base";

.button {
  display: block;
  padding: $spacing-xs $spacing-xxl;
  border-radius: $border-radius-sm;
  font-size: $font-size-default;
  font-weight: 500;
  text-align: center;
  line-height: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.button-primary {
  background-color: $color-ligthblue;
  color: $color-white;
  &:hover {
    background-color: lighten($color: $color-ligthblue, $amount: 5);
    color: $color-white;
  }
}

.button-secondary {
  background-color: $color-red;
  color: $color-white;
  &:hover {
    background-color: lighten($color: $color-red, $amount: 5);
    color: $color-white;
  }
}

.button-outline {
  border: 1px solid $color-ligthblue;
  color: $color-ligthblue;

  &:hover {
    background-color: lighten($color: $color-ligthblue, $amount: 5);
    color: $color-white;
  }
}

.button-secondary-outline {
  border: 1px solid $color-red;
  color: $color-ligthblue;
  &:hover {
    background-color: lighten($color: $color-red, $amount: 5);
    color: $color-white;
  }
}

.center {
  margin: 0 auto;
}
