@import "../../assets/scss/vars";

.modal-component {
  &.modal-activity {
    position: fixed;
    width: 100%;
    top: 2vh;
    left: 0;
    border-radius: 20px;
    z-index: 3;
    min-height: 100vh;

    .background-modal {
      background-color: $blurred-background;
      position: fixed;
      z-index: 2;
      width: 100vw;
      height: 100vh;
    }

    .content-modal {
      position: relative;
      z-index: 4;
      max-width: 95vw;
      min-width: 60vw;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 80vh;
      width: fit-content;
      padding: $spacing-lg 0;
    }
  }
}
