.container {
  height: auto;
  width: 60vh;
  border: 1px solid #000;
  margin-top: 10rem;
  box-shadow: 10px 10px 8px #888888;
  border-radius: 30px;
  background: linear-gradient(to right top, #d3cfcfa9, #1410f385);
}
.names {
  padding-top: 3rem;
}
.btn {
  background: linear-gradient(to right top, #d3cfcfa9, #1410f385);
}
.red {
  color: red;
}
