@import "../../assets/scss/vars";

.container {
  background-color: #fff;
  width: 90%;
  margin: auto;
  box-shadow: $shadow;
  border-radius: 1.5rem;
  padding: 3rem;
  @media (min-width: $breakpoint-sm) {
    max-width: 50rem;
  }
}
.names {
  padding-top: 3rem;
}

.red {
  color: red;
}
