@import "../../assets/scss/vars";

.Backoffice {
  position: relative;
  display: flex;
  flex-direction: column;
  .backoffice__content {
    display: flex;
    
    .Content {
      border-top: 2px solid $color-black;
      width: 100%;
      min-height: 90vh; /*Quitar cuando tenga contenido */
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 5rem 1rem;
      @media (min-width: $breakpoint-lg) {
        padding: 5rem 4rem;
      }
      .icon {
        position: absolute;
        top: 2rem;
        z-index: 100;
        cursor: pointer;
        transition: all 0.2s linear;
        @media (min-width: $breakpoint-lg) {
          display: none;
        }
      }
      .heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        align-items: center;
      }
    }
  }
}

.isleft {
  transform: rotate(180deg);
}

.isright {
  transform: rotate(0deg);
}
